{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <class='col-sm-12'>
        <h1>Food</h1>
    </div>
    <di <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section" id="addfoodsection">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group" id="foodentry">
                                                    <label class="control-label" for="exampleInputEmail1">Quick Entry</label>
                                                    <input class="form-control" id="exampleInputEmail1"
                                                    placeholder="Food Quick Entry" type="text">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-12">
                                            <div class="btn-group" data-toggle="buttons">
                                            <a href="#" class="btn btn-lg btn-success" id="good" data-toggle="button">Good<i class="fa fa-star fa-fw"></i></a>
                                                <a href="#" class="btn btn-lg btn-warning" id="okay" data-toggle="button">Okay<i class="fa fa-star fa-fw"></i></a>
                                                <a href="#" class="btn btn-danger btn-lg" id="bad" data-toggle="button">Bad</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                            class="center-block img-responsive">
                        </div>
                        <div class="col-md-8" id="diarydiv">
                            <table class="table" id="divtable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th contenteditable="true">Entry</th>
                                        <th>Date</th>
                                        <th>Rank</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
