{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- HEADER START -->
    <div class="row" >
        <class='col-sm-12'>
        <h1>Food</h1>
    </div>
    <!-- HEADER END -->
    <!-- MAIN BODY START-->
    <div class="col-md-12">
        <div class="row">
            <div class="container">
            <!-- FORM -->
            <form role="form" method="POST">
                <div class="form-group" id="foodentry">
                    <label class="control-label" for="quick_entry">Quick Entry</label>
                    <input id="quickentry" name="quickentry" type="text" placeholder="Food" class="form-control input-md">
                </div>
                <div class="row text-center">
                    <div class="btn-group">
                        <button id="submit" name="submit" value="good" type="submit" class="btn btn-success">Good</button>
                        <button id="submit" name="submit" value="ok" type="submit" class="btn btn-warning">Okay</button>
                        <button id="submit" name="submit" value="bad" type="submit" class="btn btn-danger">Bad</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- CHART -->
            <img src="{{ url_for('static', filename = 'images/food.svg') }}" type="image/svg+xml" title="PieChart" border="0">
        </div>
        <div class="col-md-6">
            <!-- TABLE -->
            {{ table }}
        </div>
    </div>
    <!-- MAIN BODY END -->
</div>
{% endblock %}
