{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
            <h1>A very simple food diary</h1>
            <p>Sometimes tracking calories is overkill or just plain tedious.  Maybe you just want to know that you're eating right.  Maybe you have the habbit of just popping food in your craw and now thinking about.</p>
            <p>Piewhole hopefully will help you keep what your doing in your mind, allowing you to make better food choices.</p>
            <p><a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Start here...</a></p>
        </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-12">
            <h2>Status</h2>
            <p>Come check out the project status at <a href="https://github.com/CarbonJ/Piewhole" target="_blank">https://github.com/CarbonJ/Piewhole</a></p>
            <p><img src="https://travis-ci.org/CarbonJ/Piewhole.svg?branch=master" class="img-responsive" alt="Flying Kites"></p>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-16">
            <h2>What can it do?</h2>
            <p>Eventtually some screenshots</p>
        </div>
</div>

{% endblock %}
