{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
            <h1>Piewhole</h1>
            <h5>A <i>very</i> simple food diary...</h5>
            <p>Sometimes tracking calories is overkill or just plain tedious.  Maybe you just want to know that you're eating right.  Maybe you have the habit of just popping food in your craw and not thinking about it.</p>
            <p>Piewhole hopefully will help you keep what your doing in your mind, allowing you to make better food choices.  Maybe, just maybe, you'll shut your piewhole.</p>
            <p>
            {% if current_user.is_anonymous() %}
            You're <b>new</b>, create an account <a href='{{ url_for('register_user_get') }}'>here.</a>
            {% endif %}

            {% if current_user.is_authenticated() %}
            You're <b>not</b> new, and are logged in as {{ current_user.username }}.
            {% endif %}
            </p>
        </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-12">
            <h2>Status</h2>
            <p>Come check out the project status at <a href="https://github.com/CarbonJ/Piewhole" target="_blank">https://github.com/CarbonJ/Piewhole</a></p>
            <p>Current Build Status: <img src="https://travis-ci.org/CarbonJ/Piewhole.svg?branch=master" class="img-responsive" alt="Flying Kites"></p>
            <p>If you find an issue, please let me know bye updating my github issues here: <a href="https://github.com/CarbonJ/Piewhole" target="https://github.com/CarbonJ/Piewhole/issues">https://github.com/CarbonJ/Piewhole/issues</a></p>


</div>

{% endblock %}
