{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
    <class='col-sm-12'>
    <h1>Profile</h1>
    </div>
<div class="row">
    <div class="col-sm-6">
        <div class="demo-content">.col-sm-6</div>
    </div>
    <div class="col-sm-86">
        <div class="demo-content bg-alt">.col-sm-8</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="demo-content">.col-sm-3</div>
    </div>
    <div class="col-sm-6">
        <div class="demo-content bg-alt">.col-sm-9</div>
    </div>
</div>
{% endblock %}
